{% extends 'gallery/base.html' %} 

{% block content %} 


  
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive center-block" src="{{ artwork.art.url }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 center">
                <h1> {{ artwork.title }} - {{ artwork.published_date.year }}</h1>
                <p>{{ artwork.description|linebreaks }} </p>
                <p>{% if previous %}
                    <a class="btn btn-lg btn-primary btn-custom" href='{% url "art" art_id=previous.id %}'>Previous</a>
                    {% endif %}  
                    {% if next %}
                    <a class="btn btn-lg btn-primary btn-custom pull-right" href='{% url "art" art_id=next.id %}'>Next</a>
                    {% endif %}
                </p>
            </div>
        </div>


        </div>

{% endblock content %}
