{% extends '../base.html' %}
{% block content %}
    <div class="text-center fs-500" style="padding: 1rem;">
        <a href="{% url 'gallery:gallery_detail' gallery_title_slug %}">Back to gallery</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive center-block" src="{{ artwork.art.url }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 center text-center">
                <h1> {{ artwork.title }} - {{ artwork.published_date.year }}</h1>
                <p>{{ artwork.description|linebreaks }} </p>
            </div>
            <div class="col-md-10 center">
                <p>{% if previous %}
                    <a class="btn btn-lg btn-primary btn-custom" href="{% url 'gallery:art' gallery_title_slug=gallery_title_slug art_id=previous.id %}">Previous</a>
                    {% endif %}  
                    {% if next %}
                    <a class="btn btn-lg btn-primary btn-custom pull-right" href="{% url 'gallery:art' gallery_title_slug=gallery_title_slug art_id=next.id %}">Next</a>
                    {% endif %}
                </p>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
{% endblock content %}
