
{% extends 'gallery/base.html' %}   
{% load staticfiles %} 
{% block content %} 
      
      
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
 
  <!-- Slider Content (Wrapper for slides )-->
  <div class="carousel-inner">
    <div class="item active">
        
      <img src="{% static 'images/zef.jpg' %}" alt="First slide">

    </div>
      <div class="item">
      <img src="{% static 'images/nalle.jpg' %}" alt="second slide">

    </div>
    <div class="item">
      <img src="{% static 'images/peter.jpg' %}" alt="third slide">
    </div>
      <div class="item">
      <img src="{% static 'images/kiina.jpg' %}" alt="fourth slide">
    </div>
    </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
      
      
      
    <div class="container">
      <div class="row">
    
        <div
        {% for galleryGroup in galleryGroups %}
          <div class="col-md-6 galleryOptions">
          <h2> {{ galleryGroup.title }} </h2>
          <p>{{ galleryGroup.description|linebreaks }} </p>
          <p><a class="btn btn-lg btn-primary btn-custom" 
                href='{% url 'gallery_detail' gallery_title_slug=galleryGroup.slug %}'> View {{ galleryGroup.title }} Gallery &raquo; </a></p>
            </div>
           
        {% endfor %}
        
        
       
      </div><!-- /.row -->
    </div>

    {% endblock content %}



